import("multtest", "clusterSim", "apcluster", "methods")

importFrom("Biobase", "ExpressionSet", "exprs")

importFrom("limma", "normalizeBetweenArrays")

importFrom("e1071", "tune.svm","tune.control","svm")

importFrom("AnnotationDbi", "select")

importFrom("parmigene", "knnmi.all", "clr")

importFrom("reactome.db", "reactomePATHID2NAME")

importFrom("igraph", "graph.adjacency", "get.edgelist", "E", "degree", "graph.strength", "closeness", "betweenness", "transitivity")

exportClasses("mAPKLRes", "DataLD", "Classify","Annot","NetAttr")
exportPattern("^[[:alpha:]]+")